@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: 50px;
  margin-right: auto;
}
.navbar {
  background-color: #f0f0f0;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #f0f0f0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

navbar>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo img {
  height: 40px; 
  width: auto; 
  margin-right: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
 
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  position: fixed;
  top: 10px; 
  right: 10px; 
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

nav ul li {
  color: #838383;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu-button {
  display: none;
}
.ajuda {
  margin-right: 92px !important; 
  margin-top: 10px;
}
.perfil {
  margin-right: 200px;
  margin-top: 14px;
}
.notificacao {
  margin-right: 150px;
  margin-top: 15px;
}

.sacola {
  margin-right: 90px;
  margin-top: 10px;
}



.fa-magnifying-glass {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #aaa; 
    pointer-events: none; /
}

.menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button i {
  font-size: 1.5rem;
  color: #333;
}

@media only screen and (max-width: 900px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .menu-button {
      display: block;
  }
  .header-inner-content {
    display: none;
}

  .header-inner-content {
      display: none;
      position: absolute;
      top: 80px; 
      left: 0;
      width: 100%;
      background-color: #f0f0f0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 99;
  }

  @media only screen and (max-width: 900px) {
    .show-menu {
        display: block !important;
    }
}

  .nav-icon-container img {
      display: block;
  }

  nav ul {
      display: flex;
      flex-direction: column;
      padding: 1rem;
     
  }

  nav ul li {
      margin-bottom: 1rem;
      transform: translateY(-5px);
      transition: all 0.2s;
      font-weight: bold;
  }
}

.nav-icon-container {
  display: flex;
  align-items: center;
}
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px; 
  font-size: 1.5rem;
  color: #333;
  
}

.menu-button:focus {
  outline: none;
}

.menu-button i {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.menu-button {
    position: fixed;
    top: 20px; 
    right: 20px; 
    z-index: 1000; 
  }

.login-form {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 100px 30px;
    margin-top: 90px;
    max-height: 590px;
   

}

.login-form h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
    color: #303D4D;
}


.login-form .input-container input {
   
    width: calc(100% - 20px);
    padding: 14px;
    border: 1px solid #ccc; 
    border-radius: 30px; 
    margin: 0 auto 10px; 
    display: block; 
    font-family: "Poppins", sans-serif; 
}
.login-form .input-container:nth-child(2) {
    margin-bottom: 30px;}
.login-form button {
    width: calc(100% - 20px); 
    padding: 12px; 
background-color: #303D4D;
border: none;
border-radius: 30px; 
color: #fff;
font-size: 20px;
cursor: pointer;
display: block; 
margin: 0 auto 10px; 
font-family: "Poppins", sans-serif; 
margin-bottom: 40px;
margin-top: 30px;
font-weight: bold; 
}

.login-form button:hover {
    background-color: #557193;
}


.login-form p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #838383;
  margin-top: 30px; 
  margin-bottom: 30px; 
  padding: 0 20px; 
}

.login-form p button {
  width: calc(100% - 20px); 
  padding: 12px; 
  background-color: transparent;
  border: 1px solid #303D4D;
  border-radius: 30px; 
  color: #303D4D;
  font-size: 20px;
  cursor: pointer;
  display: block; 
  margin: 10px auto 5px; 
  font-family: "Poppins", sans-serif; 
  font-weight: bold; 
}

a {
    text-decoration: none; 
    outline: none; 
  }